# Disabled checks:
#   - No libc restrictions (I am not developing llvm)
#   - Header guard check disabled (does not recognize pragma once)
#   - Disable altera, as we are not developing FPGA...
#   - libc has no support for annex K (scanf_s, memcpy_s etc.)
#   - No need to specify users in TODOs (maybe bug numbers later?)
Checks:              '*, readability-identifier-naming,
                      -llvmlibc-restrict-system-libc-headers,
                      -llvm-header-guard,
                      -altera*,
                      -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
                      -google-readability-todo'
WarningsAsErrors:    '*,readability-identifier-naming'
HeaderFilterRegex:   ''
FormatStyle:         'none'
User:                gitranes
CheckOptions:
  - key:           readability-identifier-naming.StructCase
    value:         'CamelCase'
  - key:           readability-identifier-naming.UnionCase
    value:         'CamelCase'
  - key:           readability-identifier-naming.EnumCase
    value:         'CamelCase'
  - key:           readability-identifier-naming.TypedefCase
    value:         'CamelCase'

  - key:           readability-identifier-naming.GlobalConstantCase
    value:         'UPPER_CASE'
  - key:           readability-identifier-naming.EnumConstantCase
    value:         'UPPER_CASE'
# The check is bugged, as it seems to not ignore the command line macros like
# it should. For example, the -D_POSIX_C_SOURCE command line definition causes
# a warning in every single compilation unit. Great...
#  - key:           readability-identifier-naming.MacroDefinitionCase
#    value:         'UPPER_CASE'

  - key:           readability-identifier-naming.GlobalVariableCase
    value:         'lower_case'
  - key:           readability-identifier-naming.GlobalVariablePrefix
    value:         'g_'

  - key:           readability-identifier-naming.MemberCase
    value:         'lower_case'
  - key:           readability-identifier-naming.ParameterCase
    value:         'lower_case'
  - key:           readability-identifier-naming.FunctionCase
    value:         'lower_case'
  - key:           readability-identifier-naming.VariableCase
    value:         'lower_case'
  - key:           readability-identifier-naming.LocalVariableCase
    value:         'lower_case'
